@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main-box {
    display: inline;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    max-width: 60rem;
    place-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

body {    
    background-color: black;
    margin: 0;   
}

main { 
  text-align: center;
}

h1 {
    font-size: 6rem;
    line-height: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 10px 10px 4px black;
}

h2 {
    font-size: 1.5rem;
    line-height: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 1px 3px 4px black;
}

.topnav {
    float: right;
    color: #eeeeee;
    text-align: center;
    width: fit-content;

   
  }

.nav-tab {
    float: right;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', sans-serif;
    transition: color .3s ease-in-out;
  }

  .right-padding-nav {
    padding-right: 25px;
  }
  
  .left-padding-nav {
    padding-left: 5rem;
  }
  
  .topnav a:hover {
    color: rgb(255, 255, 255);
  }

  .topnav a.active {
    color: white;
   
  }
  
  .main-holder {
  background-image: url(../images/games.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}

.topnav a {
  
  color: #adadad;
  text-align: center;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  transition: color .3s ease-in-out;
}


.main {
    display: flex;
    height: 100%;
    width: 100%;
}
.header {
  padding: 60px;
  background-image: url(../images/games.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 690px;
  text-align: center;
}
.footer-logo-holder 
{
  overflow: hidden;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  padding-top: 2rem;
  width: 3.7rem;
  height: 3.7rem;
}
.footer-nav-holder {
  height: fit-content;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  place-content: center;
  flex-wrap: wrap;
}
.footer-tab {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  transition: color .3s ease-in-out;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.games .game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}

main { 
  text-align: center;
}

.game a img {
  width: 70%;
  height: 70%;
  border: 0.23rem solid #111;
}

main h1 {
  padding-top: 1rem;
}