@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main-box {
    display: inline;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
    max-width: 60rem;
    place-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

body {    
    background-color: black;
    margin: 0;   
}

h1 {
    font-size: 6rem;
    line-height: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 10px 10px 4px black;
}

h2 {
    font-size: 1.5rem;
    line-height: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 1px 3px 4px black;
}

.topnav {
    float: right;
    color: #adadad;
    text-align: center;
    width: fit-content;
   
  }

.nav-tab {
    float: right;
    color: #adadad;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', sans-serif;
    transition: color .3s ease-in-out;
  }

  .right-padding-nav {
    padding-right: 25px;
  }
  
  .left-padding-nav {
    padding-left: 5rem;
  }
  
  .topnav a:hover {
    color: rgb(255, 255, 255);
  }

  .topnav a.active {
    color: white;
   
  }
  
  .main-holder {
  background-image: url("https://media.discordapp.net/attachments/1213308290973433946/1213314587785437206/Screenshot_2024-03-01_at_8.33.51_PM.png ex=65f50644&is=65e29144&hm=7edbe19da2c74cfeb0571c2c0fd2f5f41a73b304ed57cb757011ca238e2d47f6&=&format=webp&quality=lossless&width=1051&height=671");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}

a {
  
  color: #adadad;
  text-align: center;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  transition: color .3s ease-in-out;
}


.main {
    display: flex;
    height: 100%;
    width: 100%;
}
.header {
  padding: 60px;
  background-image: url("https://cdn.discordapp.com/attachments/1150431390362517624/1213672472445190164/firewatch-sunrise-minimal-4k-u9-1366x768.jpg?ex=65f65392&is=65e3de92&hm=a097cd8e84df55e1ad45627ad95218953e46402e37b2a2ee724fd08e86e6e04e&");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  text-align: center;
}
